[defaults]
inventory = inventory.yml
roles_path = roles
retry_files_enabled = false
stdout_callback = default
result_format = yaml
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

[privilege_escalation]
become = false
