kubeProxyReplacement: true
k8sServiceHost: "{{ tailscale_ip | default('127.0.0.1') }}"
k8sServicePort: {{ api_port }}

operator:
  replicas: 1

ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - "{{ cluster_cidr }}"

bpf:
  masquerade: true

encryption:
  enabled: {{ cilium_wireguard_enabled | default(false) | lower }}
  type: wireguard
  nodeEncryption: {{ cilium_wireguard_node_encryption | default(false) | lower }}

hubble:
  enabled: {{ cilium_hubble_enabled | lower }}
  relay:
    enabled: {{ cilium_hubble_enabled | lower }}
  ui:
    enabled: {{ cilium_hubble_ui_enabled | lower }}
